<template>
  <MonacoEditor height="100vh" @mounted="getEditor"/> 
</template>

<script>
import MonacoEditor from 'vue-monaco-editor';
import { ref, watch } from 'vue';

export default {
  components:{
    MonacoEditor
  },

  props:{
    file: String
  },

  setup (props) {
    const localEditor = ref(null);

    watch(
      () => props.file,
      () => localEditor.value.setValue(props.file)
    );

    const getEditor = (editor) => {
      localEditor.value = editor;
    }
    
    return {getEditor}
  }
}
</script>