<template>
  <div>
    <div v-for="file of files" :key='file.path' class="cursor-pointer hover:text-blue-300" v-on:click.exact="$emit('select',file)" v-on:click.shift="$emit('openWindow', file)">
      {{file.name}}
    </div>
  </div>
</template>

<script>
export default {
  props:{
    files: Array
  }
}
</script>