<template>
  <div class="flex flex-row h-screen space-x-2 p-4 overflow-hidden">
    <FileList :files="files" v-on:select="select($event)" v-on:openWindow="openWindow($event)" v-if="!fileFromEvent" class="bg-gray-400 overflow-y-auto overflow-hidden w-1/3"/>
    <Editor :file="displayedFile" class="w-2/3"/>
  </div>
</template>

<script>
import FileList from './components/FileList.vue'
import Editor from './components/Editor.vue'
import { fs } from '@tauri-apps/api'
import { ref } from '@vue/reactivity';
import { onBeforeMount, onMounted } from '@vue/runtime-core';
import { homeDir } from '@tauri-apps/api/path';
import { getCurrent, WebviewWindow } from '@tauri-apps/api/window';

export default {
  name: 'App',
  components: {
    FileList,
    Editor
  },

  setup () {
    const files = ref(null);
    const fileFromEvent = ref(null);
    const displayedFile = ref('');
    onBeforeMount (async () =>  {
      files.value = await fs.readDir(await homeDir());
    });

    onMounted(() => {
      getCurrent().listen<string>("file", (event) => {
        fileFromEvent.value = event.value;
      })
    })

    const select = async (file) => {
      if(file.children) files.value = await fs.readDir(file.path);
      else displayedFile.value = await fs.readTextFile(file.path);
    }

    const openWindow = (file) => {

        const webview = new WebviewWindow('NewWindow', { url:"./index.html" });
        webview.emit("file", file);
      setTimeout(() => {
        const webview2 = new WebviewWindow('NewWindow', { url:"./index.html" });
        webview2.emit("file", file);
      }, 1000);


    }

    return { files, select, displayedFile, openWindow, fileFromEvent }
  }
}
</script>